
<div class="container">
	{{#each articleArray}}
	<div class="row" id="row-{{@index}}" style="padding: 10px">
		<div class="col-12" id={{_id}}>
			<div class="card bg-dark text-white">
				<div class="card-body">
					<a href="{{link}}" id="link-{{@index}}">
						<h5 class="card-title text-white" id="title-{{@index}}">{{title}}</h5>
					</a>
					{{#if summary}}
			    	<p class="card-text" id="summary-{{@index}}">{{summary}}</p>
			    	{{/if}}
			    	{{#if photoURL}}
			    	<p>
			    	<a class="card-text" style="color: gray" href="{{photoURL}}" id="photoURL-{{@index}}">{{photoURL}}</a>
			    	</p>
		    		{{/if}}
		    		<p>
			    	{{#if notes}}
						<button type="button" id="view-notes-{{_id}}" class="btn btn-info view-notes">view notes</button>
					{{else}}
						<button type="button" id="new-note-{{_id}}" class="btn btn-primary add-notes">add notes</button>
			    	{{/if}}
			    	<button type="button" id="delete-article-{{_id}}" class="btn btn-danger delete-article">delete article</button>
			    	</p>
		  		</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>

<!-- View Notes modal -->
<div class="modal fade text-white" id="view-notes-modal" tabindex="-1" role="dialog" aria-labelledby="view-notes-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	<div class="modal-header">
  		<h5 class="modal-title">Notes</h5>
		<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  	</div>
    <div class="modal-body notes-modal-body">

    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-secondary add-notes" id="modal-add-note">add note</button>
    	<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
    </div>
  </div>
</div>

<!-- Add Notes modal -->
<div class="modal fade text-white" id="add-notes-modal" tabindex="-1" role="dialog" aria-labelledby="add-notes-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	<div class="modal-header">
  		<h5 class="modal-title">new note</h5>
		<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  	</div>
	<form>
	    <div class="modal-body add-notes-modal-body">
			<div class="form-group">
				<textarea class="form-control" id="new-note-content" rows="4"></textarea>
			</div>
	    </div>
	    <div class="modal-footer">
	    	<button type="submit" id="submit-note" class="btn btn-secondary">submit</button>
	    	<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
	    </div>
	</form>
  </div>
</div>


