
<div class="container">
	{{#each articleArray}}
	<div class="row" id="row-{{@index}}" data-article-id="{{_id}}" style="padding: 10px">
		<div class="col-12" id={{_id}}>
			<div class="card bg-dark text-white">
				<div class="card-body">
					<a href="{{link}}" id="link-{{@index}}">
						<h5 class="card-title text-white" id="title-{{@index}}">{{title}}</h5>
					</a>
					{{#if summary}}
			    	<p class="card-text" id="summary-{{@index}}">{{summary}}</p>
			    	{{/if}}
			    	{{#if photoURL}}
			    	<a class="card-text" style="color: gray" href="{{photoURL}}" id="photoURL-{{@index}}">{{photoURL}}</a>
		    		{{/if}}
		    		<div>
			    	{{#if notes}}
						<button type="button" id="notes-{{@index}}" class="btn btn-primary">view notes</button>
			    	{{/if}}
			    	<button type="button" id="delete-article-{{_id}}" class="btn btn-danger delete-article">delete article</button>
			    	</div>
		  		</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>





